__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
venv2/
.git
.gitignore
.gitattributes
build/
dist/
*.egg-info/
bkp/
screenshots/
tmp/
coverage/
.coverage
htmlcov/
render.yaml
Dockerfile
.DS_Store
Thumbs.db
